<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SnipVoyage | <%= title %></title>
    <link rel="stylesheet" href="/style/view.css" />
  </head>
  <body>
    <%- include('particles/Header.ejs') %>
    <h1>View Engine</h1>
    <% if (data.length>0) { %> <% data.forEach(element => { %>
    <div class="url-card">
      <div>
        <h3>Url:</h3>
        <p><%= element.url %></p>
      </div>
      <div>
        <h3>Link:</h3>
        <a href="https://snipvoyage-production.up.railway.app/<%= element.link %>" target="_blank"
          >https://snipvoyage-production.up.railway.app/<%= element.link %></a
        >
      </div>
      <div>
        <h3>Views:</h3>
        <p><%= element.views %></p>
      </div>
    </div>
    <% }) %> <% } else { %>
    <h3>No Data Yet!</h3>
    <% } %>
  </body>
</html>
